In [1]:
import requests 
import pandas as pd 
import numpy as np
import re
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup as BS
import time

# Function to retrieve NBA Bios

In [40]:
def get_nba_bios(url):
    response = requests.get(url)
    soup = BS(response.text)

    #nba bio headers
    nba_bio_headers = soup.findAll('th', class_='poptip')
    nba_bio_headers = [name.text for name in nba_bio_headers]
    nba_bio_headers

    #nba player names
    nba_bio_name = soup.findAll('th', class_='left')
    nba_bio_name = [name.text for name in nba_bio_name]
    nba_bio_name


    #nba debut year 
    nba_debut = soup.findAll('td', attrs={'data-stat':'year_min'})
    nba_debut = [debut.text for debut in nba_debut]
    nba_debut

    #nba final year 
    nba_final_year = soup.findAll('td', attrs={'data-stat':'year_max'})
    nba_final_year = [debut.text for debut in nba_final_year]
    nba_final_year


    #nba position
    nba_pos = soup.findAll('td', attrs={'data-stat':'pos'})
    nba_pos = [final.text for final in nba_pos]
    nba_pos

    #nba height
    nba_height = soup.findAll('td', attrs={'data-stat':'height'})
    nba_height = [height.text for height in nba_height]
    nba_height

    #nba weight
    nba_weight = soup.findAll('td', attrs={'data-stat':'weight'})
    nba_weight = [weight.text for weight in nba_weight]
    nba_weight
    
    #birthdate
    birthdate = soup.findAll('td', attrs={'data-stat':'birth_date'})
    birthdate = [date.text for date in birthdate]
    birthdate
    
    #college
    college = soup.findAll('td', attrs={'data-stat':'colleges'})
    college = [school.text for school in college]
    college
    
    nba_bio = pd.DataFrame({'Player': nba_bio_name, 'From': nba_debut, 'To':nba_final_year, 'Pos':nba_pos, 'Ht':nba_height, 'Wt':nba_weight, 'Birth Date': birthdate, 'Colleges':college})

    return nba_bio

# NBA Bios

In [41]:
#Going through last names (a-z) to get all of the bio data 
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

for letter in letters:
    if letter == 'a':
        nba_bios_df = get_nba_bios(f'https://www.basketball-reference.com/players/{letter}/')
    else:
          nba_bios_df = pd.concat([nba_bios_df, get_nba_bios(f'https://www.basketball-reference.com/players/{letter}/')])
    print(nba_bios_df) #checking 
    time.sleep(3)

                   Player  From    To  Pos    Ht   Wt          Birth Date  \
0          Alaa Abdelnaby  1991  1995  F-C  6-10  240       June 24, 1968
1         Zaid Abdul-Aziz  1969  1978  C-F   6-9  235       April 7, 1946
2    Kareem Abdul-Jabbar*  1970  1989    C   7-2  225      April 16, 1947
3      Mahmoud Abdul-Rauf  1991  2001    G   6-1  162       March 9, 1969
4       Tariq Abdul-Wahad  1998  2003    F   6-6  223    November 3, 1974
..                    ...   ...   ...  ...   ...  ...                 ...
172          Gustavo Ayón  2012  2014    C  6-10  250       April 1, 1985
173            Jeff Ayres  2010  2016    F   6-9  240      April 29, 1987
174         Deandre Ayton  2019  2024    C   7-0  250       July 23, 1998
175      Kelenna Azubuike  2007  2012    G   6-5  220   December 16, 1983
176        Udoka Azubuike  2021  2024    C  6-10  280  September 17, 1999

                     Colleges
0                        Duke
1                  Iowa State
2                        UCLA
3                         LSU
4    Michigan, San Jose State
..                        ...
172
173             Arizona State
174                   Arizona
175                  Kentucky
176                    Kansas

[177 rows x 8 columns]
                   Player  From    To  Pos    Ht   Wt         Birth Date  \
0          Alaa Abdelnaby  1991  1995  F-C  6-10  240      June 24, 1968
1         Zaid Abdul-Aziz  1969  1978  C-F   6-9  235      April 7, 1946
2    Kareem Abdul-Jabbar*  1970  1989    C   7-2  225     April 16, 1947
3      Mahmoud Abdul-Rauf  1991  2001    G   6-1  162      March 9, 1969
4       Tariq Abdul-Wahad  1998  2003    F   6-6  223   November 3, 1974
..                    ...   ...   ...  ...   ...  ...                ...
495            Will Bynum  2006  2015    G   6-0  185    January 4, 1983
496             Walt Byrd  1970  1970    F   6-7  205
497          Marty Byrnes  1979  1983    F   6-7  215     April 30, 1956
498          Tommy Byrnes  1947  1951  F-G   6-3  175  February 19, 1923
499       Michael Bytzura  1947  1947    F   6-1  170      June 18, 1922

                     Colleges
0                        Duke
1                  Iowa State
2                        UCLA
3                         LSU
4    Michigan, San Jose State
..                        ...
495     Arizona, Georgia Tech
496                    Temple
497                  Syracuse
498                Seton Hall
499    Long Island University

[677 rows x 8 columns]
                   Player  From    To  Pos    Ht   Wt        Birth Date  \
0          Alaa Abdelnaby  1991  1995  F-C  6-10  240     June 24, 1968
1         Zaid Abdul-Aziz  1969  1978  C-F   6-9  235     April 7, 1946
2    Kareem Abdul-Jabbar*  1970  1989    C   7-2  225    April 16, 1947
3      Mahmoud Abdul-Rauf  1991  2001    G   6-1  162     March 9, 1969
4       Tariq Abdul-Wahad  1998  2003    F   6-6  223  November 3, 1974
..                    ...   ...   ...  ...   ...  ...               ...
318         JamesOn Curry  2010  2010    G   6-3  190   January 7, 1986
319         Michael Curry  1994  2005  F-G   6-5  210   August 22, 1968
320            Seth Curry  2014  2024    G   6-1  185   August 23, 1990
321         Stephen Curry  2010  2024    G   6-2  185    March 14, 1988
322      Rastko Cvetković  1996  1996    C   7-1  260     June 22, 1970

                        Colleges
0                           Duke
1                     Iowa State
2                           UCLA
3                            LSU
4       Michigan, San Jose State
..                           ...
318               Oklahoma State
319  Georgia Southern University
320                Liberty, Duke
321                     Davidson
322

[1000 rows x 8 columns]
                   Player  From    To  Pos    Ht   Wt         Birth Date  \
0          Alaa Abdelnaby  1991  1995  F-C  6-10  240      June 24, 1968
1         Zaid Abdul-Aziz  1969  1978  C-F   6-9  235      April 7, 1946
2    Kareem Abdul-Jabbar*  1970  1989    C   7-2  225     April 16, 1947
3      Mahmoud Abdul-Rauf  1991  2001    G   6-1  162      March 9, 1969
4       Tariq Abdul-Wahad  1998  2003    F   6-6  223   November 3, 1974
..                    ...   ...   ...  ...   ...  ...                ...
252          Trevon Duval  2019  2019    G   6-2  189     August 3, 1998
253             Jack Dwan  1949  1949  F-G   6-4  200        May 3, 1921
254          Craig Dykema  1982  1982    F   6-8  190      June 11, 1959
255            Gene Dyker  1954  1954    F   6-6  225  February 17, 1930
256          Jerome Dyson  2012  2012    G   6-3  180        May 1, 1987

                     Colleges
0                        Duke
1                  Iowa State
2                        UCLA
3                         LSU
4    Michigan, San Jose State
..                        ...
252                      Duke
253            Loyola Chicago
254      Cal State Long Beach
255                    DePaul
256                     UConn

[1257 rows x 8 columns]
                   Player  From    To  Pos    Ht   Wt        Birth Date  \
0          Alaa Abdelnaby  1991  1995  F-C  6-10  240     June 24, 1968
1         Zaid Abdul-Aziz  1969  1978  C-F   6-9  235     April 7, 1946
2    Kareem Abdul-Jabbar*  1970  1989    C   7-2  225    April 16, 1947
3      Mahmoud Abdul-Rauf  1991  2001    G   6-1  162     March 9, 1969
4       Tariq Abdul-Wahad  1998  2003    F   6-6  223  November 3, 1974
..                    ...   ...   ...  ...   ...  ...               ...
107         Patrick Ewing  2011  2011    F   6-8  235      May 20, 1984
108            Dante Exum  2015  2024    G   6-5  214     July 13, 1995
109      Christian Eyenga  2011  2012    F   6-5  210     June 22, 1989
110          Festus Ezeli  2013  2016    C  6-11  255  October 21, 1989
111        Johnny Ezersky  1948  1950  F-G   6-3  175    March 21, 1922

                     Colleges
0                        Duke
1                  Iowa State
2                        UCLA
3                         LSU
4    Michigan, San Jose State
..                        ...
107       Indiana, Georgetown
108
109
110                Vanderbilt
111              Rhode Island

[1369 rows x 8 columns]
                   Player  From    To  Pos    Ht   Wt          Birth Date  \
0          Alaa Abdelnaby  1991  1995  F-C  6-10  240       June 24, 1968
1         Zaid Abdul-Aziz  1969  1978  C-F   6-9  235       April 7, 1946
2    Kareem Abdul-Jabbar*  1970  1989    C   7-2  225      April 16, 1947
3      Mahmoud Abdul-Rauf  1991  2001    G   6-1  162       March 9, 1969
4       Tariq Abdul-Wahad  1998  2003    F   6-6  223    November 3, 1974
..                    ...   ...   ...  ...   ...  ...                 ...
152           Tony Fuller  1981  1981    G   6-4  180   September 4, 1958
153        Markelle Fultz  2018  2024    G   6-4  209        May 29, 1998
154  Lawrence Funderburke  1998  2005    F   6-9  230   December 15, 1970
155           Andrew Funk  2024  2024    G   6-5  200  September 21, 1999
156          Terry Furlow  1977  1980  G-F   6-4  190    October 18, 1954

                             Colleges
0                                Duke
1                          Iowa State
2                                UCLA
3                                 LSU
4            Michigan, San Jose State
..                                ...
152  Vincennes University, Pepperdine
153                        Washington
154               Indiana, Ohio State
155              Bucknell, Penn State
156                    Michigan State

[1526 rows x 8 columns]
                   Player  From    To  Pos    Ht   Wt         Birth Date  \
0          Alaa Abdelnaby  1991  1995  F-C  6-10  240      June 24, 1968
1         Zaid Abdul-Aziz  1969  1978  C-F   6-9  235      April 7, 1946
2    Kareem Abdul-Jabbar*  1970  1989    C   7-2  225     April 16, 1947
3      Mahmoud Abdul-Rauf  1991  2001    G   6-1  162      March 9, 1969
4       Tariq Abdul-Wahad  1998  2003    F   6-6  223   November 3, 1974
..                    ...   ...   ...  ...   ...  ...                ...
258           Matt Guokas  1947  1947    F   6-3  195  November 11, 1915
259           Matt Guokas  1967  1976  G-F   6-5  175  February 25, 1944
260       Jorge Gutiérrez  2014  2016    G   6-3  191  December 27, 1988
261              Kyle Guy  2020  2022    G   6-1  167    August 11, 1997
262           A.J. Guyton  2001  2003    G   6-1  180  February 12, 1978

                     Colleges
0                        Duke
1                  Iowa State
2                        UCLA
3                         LSU
4    Michigan, San Jose State
..                        ...
258            Saint Joseph's
259            Saint Joseph's
260                California
261                  Virginia
262                   Indiana

[1789 rows x 8 columns]

                   Player  From    To  Pos    Ht   Wt          Birth Date  \
0          Alaa Abdelnaby  1991  1995  F-C  6-10  240       June 24, 1968
1         Zaid Abdul-Aziz  1969  1978  C-F   6-9  235       April 7, 1946
2    Kareem Abdul-Jabbar*  1970  1989    C   7-2  225      April 16, 1947
3      Mahmoud Abdul-Rauf  1991  2001    G   6-1  162       March 9, 1969
4       Tariq Abdul-Wahad  1998  2003    F   6-6  223    November 3, 1974
..                    ...   ...   ...  ...   ...  ...                 ...
367          Mel Hutchins  1952  1958  F-C   6-6  200   November 22, 1928
368    Chandler Hutchison  2019  2022    G   6-6  210      April 26, 1996
369            Joe Hutton  1951  1952    G   6-1  170     October 6, 1928
370            Greg Hyder  1971  1971    F   6-6  215       June 21, 1948
371          Bones Hyland  2022  2024    G   6-2  173  September 14, 2000

                          Colleges
0                             Duke
1                       Iowa State
2                             UCLA
3                              LSU
4         Michigan, San Jose State
..                             ...
367                            BYU
368                    Boise State
369             Hamline University
370  Eastern New Mexico University
371                            VCU

[2161 rows x 8 columns]
                  Player  From    To  Pos    Ht   Wt         Birth Date  \
0         Alaa Abdelnaby  1991  1995  F-C  6-10  240      June 24, 1968
1        Zaid Abdul-Aziz  1969  1978  C-F   6-9  235      April 7, 1946
2   Kareem Abdul-Jabbar*  1970  1989    C   7-2  225     April 16, 1947
3     Mahmoud Abdul-Rauf  1991  2001    G   6-1  162      March 9, 1969
4      Tariq Abdul-Wahad  1998  2003    F   6-6  223   November 3, 1974
..                   ...   ...   ...  ...   ...  ...                ...
22        Willie Iverson  1969  1969    G   6-0  180    October 8, 1945
23            Jaden Ivey  2023  2024    G   6-4  195  February 13, 2002
24            Royal Ivey  2005  2014    G   6-3  200  December 20, 1981
25           Elvin Ivory  1969  1969    F   6-8  210       July 2, 1948
26            Wes Iwundu  2018  2022    F   6-6  195  December 20, 1994

                       Colleges
0                          Duke
1                    Iowa State
2                          UCLA
3                           LSU
4      Michigan, San Jose State
..                          ...
22  Central Michigan University
23                       Purdue
24                        Texas
25                    Louisiana
26                 Kansas State

[2188 rows x 8 columns]
                   Player  From    To  Pos    Ht   Wt        Birth Date  \
0          Alaa Abdelnaby  1991  1995  F-C  6-10  240     June 24, 1968
1         Zaid Abdul-Aziz  1969  1978  C-F   6-9  235     April 7, 1946
2    Kareem Abdul-Jabbar*  1970  1989    C   7-2  225    April 16, 1947
3      Mahmoud Abdul-Rauf  1991  2001    G   6-1  162     March 9, 1969
4       Tariq Abdul-Wahad  1998  2003    F   6-6  223  November 3, 1974
..                    ...   ...   ...  ...   ...  ...               ...
251          Nikola Jović  2023  2024  G-F  6-10  209      June 9, 2003
252           Kevin Joyce  1974  1976    G   6-3  190     June 27, 1951
253          Butch Joyner  1969  1969    F   6-5  200    April 26, 1945
254          Jeff Judkins  1979  1983  G-F   6-6  185    March 23, 1956
255         Johnny Juzang  2023  2024    G   6-7  215    March 17, 2001

                     Colleges
0                        Duke
1                  Iowa State
2                        UCLA
3                         LSU
4    Michigan, San Jose State
..                        ...
251
252            South Carolina
253                   Indiana
254                      Utah
255            Kentucky, UCLA

[2444 rows x 8 columns]
                   Player  From    To  Pos    Ht   Wt        Birth Date  \
0          Alaa Abdelnaby  1991  1995  F-C  6-10  240     June 24, 1968
1         Zaid Abdul-Aziz  1969  1978  C-F   6-9  235     April 7, 1946
2    Kareem Abdul-Jabbar*  1970  1989    C   7-2  225    April 16, 1947
3      Mahmoud Abdul-Rauf  1991  2001    G   6-1  162     March 9, 1969
4       Tariq Abdul-Wahad  1998  2003    F   6-6  223  November 3, 1974
..                    ...   ...   ...  ...   ...  ...               ...
173              Rob Kurz  2009  2009    F   6-9  232     March 5, 1985
174           Ibo Kutluay  2005  2005    G   6-6  200      July 1, 1974
175            Kyle Kuzma  2018  2024    F   6-9  221     July 24, 1995
176         Ognjen Kuzmić  2014  2015    C   7-1  251      May 16, 1990
177  Mindaugas Kuzminskas  2017  2018    F   6-9  215  October 19, 1989

                     Colleges
0                        Duke
1                  Iowa State
2                        UCLA
3                         LSU
4    Michigan, San Jose State
..                        ...
173                Notre Dame
174
175                      Utah
176
177

[2622 rows x 8 columns]
                   Player  From    To  Pos    Ht   Wt         Birth Date  \
0          Alaa Abdelnaby  1991  1995  F-C  6-10  240      June 24, 1968
1         Zaid Abdul-Aziz  1969  1978  C-F   6-9  235      April 7, 1946
2    Kareem Abdul-Jabbar*  1970  1989    C   7-2  225     April 16, 1947
3      Mahmoud Abdul-Rauf  1991  2001    G   6-1  162      March 9, 1969
4       Tariq Abdul-Wahad  1998  2003    F   6-6  223   November 3, 1974
..                    ...   ...   ...  ...   ...  ...                ...
202            R.B. Lynam  1968  1968    G   6-1  190
203          George Lynch  1994  2005    F   6-8  218  September 3, 1970
204           Kevin Lynch  1992  1993  G-F   6-5  195  December 24, 1968
205           Lonnie Lynn  1970  1970    F   6-7  215       May 24, 1943
206             Mike Lynn  1970  1971    F   6-7  215  November 25, 1945

                                          Colleges
0                                             Duke
1                                       Iowa State
2                                             UCLA
3                                              LSU
4                         Michigan, San Jose State
..                                             ...
202                    Oklahoma Baptist University
203                                            UNC
204                                      Minnesota
205  Upper Iowa University, Wilberforce University
206                                           UCLA

[2829 rows x 8 columns]
                   Player  From    To  Pos    Ht   Wt          Birth Date  \
0          Alaa Abdelnaby  1991  1995  F-C  6-10  240       June 24, 1968
1         Zaid Abdul-Aziz  1969  1978  C-F   6-9  235       April 7, 1946
2    Kareem Abdul-Jabbar*  1970  1989    C   7-2  225      April 16, 1947
3      Mahmoud Abdul-Rauf  1991  2001    G   6-1  162       March 9, 1969
4       Tariq Abdul-Wahad  1998  2003    F   6-6  223    November 3, 1974
..                    ...   ...   ...  ...   ...  ...                 ...
487         Jerrod Mustaf  1991  1994  F-C  6-10  238    October 28, 1969
488      Dikembe Mutombo*  1992  2009    C   7-2  245       June 25, 1966
489       Martin Müürsepp  1997  1998    F   6-9  235  September 26, 1974
490            Pete Myers  1987  1998  G-F   6-6  180  September 15, 1963
491        Svi Mykhailiuk  2019  2024  G-F   6-7  205       June 10, 1997

                     Colleges
0                        Duke
1                  Iowa State
2                        UCLA
3                         LSU
4    Michigan, San Jose State
..                        ...
487                  Maryland
488                Georgetown
489
490               Little Rock
491                    Kansas

[3321 rows x 8 columns]

                   Player  From    To  Pos    Ht   Wt         Birth Date  \
0          Alaa Abdelnaby  1991  1995  F-C  6-10  240      June 24, 1968
1         Zaid Abdul-Aziz  1969  1978  C-F   6-9  235      April 7, 1946
2    Kareem Abdul-Jabbar*  1970  1989    C   7-2  225     April 16, 1947
3      Mahmoud Abdul-Rauf  1991  2001    G   6-1  162      March 9, 1969
4       Tariq Abdul-Wahad  1998  2003    F   6-6  223   November 3, 1974
..                    ...   ...   ...  ...   ...  ...                ...
105          Jusuf Nurkić  2015  2024    C   7-0  290    August 23, 1994
106           Dennis Nutt  1987  1987    G   6-2  170     March 25, 1963
107           David Nwaba  2017  2022    G   6-5  219   January 14, 1993
108          Jordan Nwora  2021  2024    F   6-8  225  September 9, 1998
109          Julius Nwosu  1995  1995    C  6-10  255        May 1, 1971

                     Colleges
0                        Duke
1                  Iowa State
2                        UCLA
3                         LSU
4    Michigan, San Jose State
..                        ...
105
106                       TCU
107                  Cal Poly
108                Louisville
109                   Liberty

[3431 rows x 8 columns]
                  Player  From    To  Pos    Ht   Wt         Birth Date  \
0         Alaa Abdelnaby  1991  1995  F-C  6-10  240      June 24, 1968
1        Zaid Abdul-Aziz  1969  1978  C-F   6-9  235      April 7, 1946
2   Kareem Abdul-Jabbar*  1970  1989    C   7-2  225     April 16, 1947
3     Mahmoud Abdul-Rauf  1991  2001    G   6-1  162      March 9, 1969
4      Tariq Abdul-Wahad  1998  2003    F   6-6  223   November 3, 1974
..                   ...   ...   ...  ...   ...  ...                ...
91             Red Owens  1950  1952  G-F   6-3  185  September 2, 1925
92           Tariq Owens  2020  2020    F  6-10  205      June 30, 1995
93             Tom Owens  1972  1983  C-F  6-10  215      June 28, 1949
94              Ray Owes  1997  1997    F   6-9  224  December 11, 1972
95       Olumide Oyedeji  2001  2003    C  6-10  240       May 11, 1981

                             Colleges
0                                Duke
1                          Iowa State
2                                UCLA
3                                 LSU
4            Michigan, San Jose State
..                                ...
91                             Baylor
92  Tennessee, St. John's, Texas Tech
93                     South Carolina
94                            Arizona
95

[3527 rows x 8 columns]
                   Player  From    To  Pos    Ht   Wt         Birth Date  \
0          Alaa Abdelnaby  1991  1995  F-C  6-10  240      June 24, 1968
1         Zaid Abdul-Aziz  1969  1978  C-F   6-9  235      April 7, 1946
2    Kareem Abdul-Jabbar*  1970  1989    C   7-2  225     April 16, 1947
3      Mahmoud Abdul-Rauf  1991  2001    G   6-1  162      March 9, 1969
4       Tariq Abdul-Wahad  1998  2003    F   6-6  223   November 3, 1974
..                    ...   ...   ...  ...   ...  ...                ...
230              Roy Pugh  1949  1949  C-F   6-6  210   October 16, 1922
231       Anthony Pullard  1993  1993    F  6-10  245      June 23, 1966
232          Jacob Pullen  2018  2018    G   6-1  200  November 10, 1989
233         Rodney Purvis  2018  2018    G   6-4  205  February 14, 1994
234            Don Putman  1947  1950    G   6-1  170  November 13, 1922

                     Colleges
0                        Duke
1                  Iowa State
2                        UCLA
3                         LSU
4    Michigan, San Jose State
..                        ...
230                       SMU
231  McNeese State University
232              Kansas State
233                     UConn
234                  Colorado

[3762 rows x 8 columns]
                  Player  From    To  Pos    Ht   Wt          Birth Date  \
0         Alaa Abdelnaby  1991  1995  F-C  6-10  240       June 24, 1968
1        Zaid Abdul-Aziz  1969  1978  C-F   6-9  235       April 7, 1946
2   Kareem Abdul-Jabbar*  1970  1989    C   7-2  225      April 16, 1947
3     Mahmoud Abdul-Rauf  1991  2001    G   6-1  162       March 9, 1969
4      Tariq Abdul-Wahad  1998  2003    F   6-6  223    November 3, 1974
..                   ...   ...   ...  ...   ...  ...                 ...
4              Bob Quick  1969  1972  F-G   6-5  215       March 5, 1946
5      Immanuel Quickley  2021  2024    G   6-3  190       June 17, 1999
6            Chris Quinn  2007  2013    G   6-2  185  September 27, 1983
7         Brian Quinnett  1990  1992    F   6-8  235        May 30, 1966
8        Lester Quinones  2023  2024    G   6-5  208   November 16, 2000

                    Colleges
0                       Duke
1                 Iowa State
2                       UCLA
3                        LSU
4   Michigan, San Jose State
..                       ...
4                     Xavier
5                   Kentucky
6                 Notre Dame
7           Washington State
8                    Memphis

[3771 rows x 8 columns]
                   Player  From    To  Pos    Ht   Wt         Birth Date  \
0          Alaa Abdelnaby  1991  1995  F-C  6-10  240      June 24, 1968
1         Zaid Abdul-Aziz  1969  1978  C-F   6-9  235      April 7, 1946
2    Kareem Abdul-Jabbar*  1970  1989    C   7-2  225     April 16, 1947
3      Mahmoud Abdul-Rauf  1991  2001    G   6-1  162      March 9, 1969
4       Tariq Abdul-Wahad  1998  2003    F   6-6  223   November 3, 1974
..                    ...   ...   ...  ...   ...  ...                ...
257        Pierre Russell  1972  1973  F-G   6-4  190  December 13, 1949
258         Rubin Russell  1968  1968    G   6-2  180   November 7, 1944
259        Walker Russell  1983  1988    G   6-5  195   October 26, 1960
260        Walker Russell  2012  2012    G   6-0  170    October 6, 1982
261             Matt Ryan  2022  2024    F   6-6  215     April 17, 1997

                                              Colleges
0                                                 Duke
1                                           Iowa State
2                                                 UCLA
3                                                  LSU
4                             Michigan, San Jose State
..                                                 ...
257                                             Kansas
258  Labette Community College, University of North...
259                          Houston, Western Michigan
260                      Jacksonville State University
261                Notre Dame, Vanderbilt, Chattanooga

[4033 rows x 8 columns]
                   Player  From    To  Pos    Ht   Wt         Birth Date  \
0          Alaa Abdelnaby  1991  1995  F-C  6-10  240      June 24, 1968
1         Zaid Abdul-Aziz  1969  1978  C-F   6-9  235      April 7, 1946
2    Kareem Abdul-Jabbar*  1970  1989    C   7-2  225     April 16, 1947
3      Mahmoud Abdul-Rauf  1991  2001    G   6-1  162      March 9, 1969
4       Tariq Abdul-Wahad  1998  2003    F   6-6  223   November 3, 1974
..                    ...   ...   ...  ...   ...  ...                ...
447          Keifer Sykes  2022  2022    G   6-0  180  December 30, 1993
448           Larry Sykes  1996  1996    F   6-9  255     April 11, 1973
449           Brett Szabo  1997  1997    C  6-11  230   February 1, 1968
450      Wally Szczerbiak  2000  2009    F   6-7  244      March 5, 1977
451       Walt Szczerbiak  1972  1972    F   6-6  210    August 21, 1949

                     Colleges
0                        Duke
1                  Iowa State
2                        UCLA
3                         LSU
4    Michigan, San Jose State
..                        ...
447                 Green Bay
448                    Xavier
449    Augustana College (SD)
450          Miami University
451         George Washington

[4485 rows x 8 columns]

                   Player  From    To  Pos    Ht   Wt        Birth Date  \
0          Alaa Abdelnaby  1991  1995  F-C  6-10  240     June 24, 1968
1         Zaid Abdul-Aziz  1969  1978  C-F   6-9  235     April 7, 1946
2    Kareem Abdul-Jabbar*  1970  1989    C   7-2  225    April 16, 1947
3      Mahmoud Abdul-Rauf  1991  2001    G   6-1  162     March 9, 1969
4       Tariq Abdul-Wahad  1998  2003    F   6-6  223  November 3, 1974
..                    ...   ...   ...  ...   ...  ...               ...
199            B.J. Tyler  1995  1995    G   6-1  185    April 30, 1971
200          Jeremy Tyler  2012  2014    C  6-10  260     June 21, 1991
201           Terry Tyler  1979  1989  F-G   6-7  215  October 30, 1956
202          Charlie Tyra  1958  1962  C-F   6-8  230   August 16, 1935
203          Hunter Tyson  2024  2024    F   6-8  215     June 13, 2000

                     Colleges
0                        Duke
1                  Iowa State
2                        UCLA
3                         LSU
4    Michigan, San Jose State
..                        ...
199             DePaul, Texas
200
201             Detroit Mercy
202                Louisville
203                   Clemson

[4689 rows x 8 columns]
                  Player  From    To  Pos    Ht   Wt          Birth Date  \
0         Alaa Abdelnaby  1991  1995  F-C  6-10  240       June 24, 1968
1        Zaid Abdul-Aziz  1969  1978  C-F   6-9  235       April 7, 1946
2   Kareem Abdul-Jabbar*  1970  1989    C   7-2  225      April 16, 1947
3     Mahmoud Abdul-Rauf  1991  2001    G   6-1  162       March 9, 1969
4      Tariq Abdul-Wahad  1998  2003    F   6-6  223    November 3, 1974
..                   ...   ...   ...  ...   ...  ...                 ...
7            Wes Unseld*  1969  1981  C-F   6-7  245      March 14, 1946
8           Hal Uplinger  1954  1954    G   6-4  185  September 30, 1929
9          Kelvin Upshaw  1989  1991    G   6-2  180    January 24, 1963
10         Jarrod Uthoff  2017  2020    F   6-9  221        May 19, 1993
11              Ben Uzoh  2011  2012    G   6-3  205      March 19, 1988

                    Colleges
0                       Duke
1                 Iowa State
2                       UCLA
3                        LSU
4   Michigan, San Jose State
..                       ...
7                 Louisville
8     Long Island University
9                       Utah
10                      Iowa
11                     Tulsa

[4701 rows x 8 columns]
                   Player  From    To  Pos    Ht   Wt         Birth Date  \
0          Alaa Abdelnaby  1991  1995  F-C  6-10  240      June 24, 1968
1         Zaid Abdul-Aziz  1969  1978  C-F   6-9  235      April 7, 1946
2    Kareem Abdul-Jabbar*  1970  1989    C   7-2  225     April 16, 1947
3      Mahmoud Abdul-Rauf  1991  2001    G   6-1  162      March 9, 1969
4       Tariq Abdul-Wahad  1998  2003    F   6-6  223   November 3, 1974
..                    ...   ...   ...  ...   ...  ...                ...
56         Nikola Vučević  2012  2024    C  6-10  260   October 24, 1990
57          Sasha Vujačić  2005  2017    G   6-7  195      March 8, 1984
58       Tristan Vukcevic  2024  2024  F-C   7-0  223     March 11, 2003
59  Butch van Breda Kolff  1947  1950  G-F   6-3  185   October 28, 1922
60    Jan van Breda Kolff  1975  1983  F-G   6-7  195  December 16, 1951

                    Colleges
0                       Duke
1                 Iowa State
2                       UCLA
3                        LSU
4   Michigan, San Jose State
..                       ...
56                       USC
57
58
59                       NYU
60                Vanderbilt

[4762 rows x 8 columns]
                    Player  From    To  Pos    Ht   Wt          Birth Date  \
0           Alaa Abdelnaby  1991  1995  F-C  6-10  240       June 24, 1968
1          Zaid Abdul-Aziz  1969  1978  C-F   6-9  235       April 7, 1946
2     Kareem Abdul-Jabbar*  1970  1989    C   7-2  225      April 16, 1947
3       Mahmoud Abdul-Rauf  1991  2001    G   6-1  162       March 9, 1969
4        Tariq Abdul-Wahad  1998  2003    F   6-6  223    November 3, 1974
..                     ...   ...   ...  ...   ...  ...                 ...
401         Sharone Wright  1995  1998  F-C  6-11  260    January 30, 1973
402  Justin Wright-Foreman  2020  2020    G   6-0  190    October 27, 1997
403            Tony Wroten  2013  2016    G   6-6  205      April 13, 1993
404          Dennis Wuycik  1973  1975    F   6-6  215      March 29, 1950
405            A.J. Wynder  1991  1991    G   6-2  180  September 11, 1964

                     Colleges
0                        Duke
1                  Iowa State
2                        UCLA
3                         LSU
4    Michigan, San Jose State
..                        ...
401                   Clemson
402                   Hofstra
403                Washington
404                       UNC
405          UMass, Fairfield

[5168 rows x 8 columns]
                    Player  From    To  Pos    Ht   Wt          Birth Date  \
0           Alaa Abdelnaby  1991  1995  F-C  6-10  240       June 24, 1968
1          Zaid Abdul-Aziz  1969  1978  C-F   6-9  235       April 7, 1946
2     Kareem Abdul-Jabbar*  1970  1989    C   7-2  225      April 16, 1947
3       Mahmoud Abdul-Rauf  1991  2001    G   6-1  162       March 9, 1969
4        Tariq Abdul-Wahad  1998  2003    F   6-6  223    November 3, 1974
..                     ...   ...   ...  ...   ...  ...                 ...
401         Sharone Wright  1995  1998  F-C  6-11  260    January 30, 1973
402  Justin Wright-Foreman  2020  2020    G   6-0  190    October 27, 1997
403            Tony Wroten  2013  2016    G   6-6  205      April 13, 1993
404          Dennis Wuycik  1973  1975    F   6-6  215      March 29, 1950
405            A.J. Wynder  1991  1991    G   6-2  180  September 11, 1964

                     Colleges
0                        Duke
1                  Iowa State
2                        UCLA
3                         LSU
4    Michigan, San Jose State
..                        ...
401                   Clemson
402                   Hofstra
403                Washington
404                       UNC
405          UMass, Fairfield

[5168 rows x 8 columns]
                  Player  From    To  Pos    Ht   Wt          Birth Date  \
0         Alaa Abdelnaby  1991  1995  F-C  6-10  240       June 24, 1968
1        Zaid Abdul-Aziz  1969  1978  C-F   6-9  235       April 7, 1946
2   Kareem Abdul-Jabbar*  1970  1989    C   7-2  225      April 16, 1947
3     Mahmoud Abdul-Rauf  1991  2001    G   6-1  162       March 9, 1969
4      Tariq Abdul-Wahad  1998  2003    F   6-6  223    November 3, 1974
..                   ...   ...   ...  ...   ...  ...                 ...
16        Thaddeus Young  2008  2024    F   6-8  235       June 21, 1988
17             Tim Young  2000  2000    C   7-0  220    February 6, 1976
18            Trae Young  2019  2024    G   6-1  164  September 19, 1998
19               Sun Yue  2009  2009    G   6-9  205    November 6, 1985
20        Omer Yurtseven  2022  2024    C   7-0  264       June 19, 1998

                    Colleges
0                       Duke
1                 Iowa State
2                       UCLA
3                        LSU
4   Michigan, San Jose State
..                       ...
16              Georgia Tech
17                  Stanford
18                  Oklahoma
19
20      NC State, Georgetown

[5189 rows x 8 columns]
                  Player  From    To  Pos    Ht   Wt         Birth Date  \
0         Alaa Abdelnaby  1991  1995  F-C  6-10  240      June 24, 1968
1        Zaid Abdul-Aziz  1969  1978  C-F   6-9  235      April 7, 1946
2   Kareem Abdul-Jabbar*  1970  1989    C   7-2  225     April 16, 1947
3     Mahmoud Abdul-Rauf  1991  2001    G   6-1  162      March 9, 1969
4      Tariq Abdul-Wahad  1998  2003    F   6-6  223   November 3, 1974
..                   ...   ...   ...  ...   ...  ...                ...
15            Ante Žižić  2018  2020  F-C  6-10  266    January 4, 1997
16              Jim Zoet  1983  1983    C   7-1  240  December 20, 1953
17             Bill Zopf  1971  1971    G   6-1  170       June 7, 1948
18           Ivica Zubac  2017  2024    C   7-0  240     March 18, 1997
19            Matt Zunic  1949  1949  G-F   6-3  195  December 19, 1919

                    Colleges
0                       Duke
1                 Iowa State
2                       UCLA
3                        LSU
4   Michigan, San Jose State
..                       ...
15
16     Kent State University
17                  Duquesne
18
19         George Washington

[5209 rows x 8 columns]

In [46]:
all_nba_bios = pd.read_csv('D:/NSS (Data Analyst)/Capstone/all_nba_bios.csv')
all_nba_bios

,Unnamed: 0,Player,From,To,Pos,Ht,Wt,Birth Date,Colleges
0,0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke
1,1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State
2,2,Kareem Abdul-Jabbar*,1970,1989,C,7-2,225.0,"April 16, 1947",UCLA
3,3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",LSU
4,4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974","Michigan, San Jose State"
...,...,...,...,...,...,...,...,...,...
5204,15,Ante Žižić,2018,2020,F-C,6-10,266.0,"January 4, 1997",NaN
5205,16,Jim Zoet,1983,1983,C,7-1,240.0,"December 20, 1953",Kent State University
5206,17,Bill Zopf,1971,1971,G,6-1,170.0,"June 7, 1948",Duquesne
5207,18,Ivica Zubac,2017,2024,C,7-0,240.0,"March 18, 1997",NaN
5208,19,Matt Zunic,1949,1949,G-F,6-3,195.0,"December 19, 1919",George Washington

In [48]:
all_nba_bios[['First', 'Last']] = all_nba_bios['Player'].str.split(' ', n= 1, expand= True)
all_nba_bios.reset_index(drop = True)

,Unnamed: 0,Player,From,To,Pos,Ht,Wt,Birth Date,Colleges,First,Last
0,0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke,Alaa,Abdelnaby
1,1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State,Zaid,Abdul-Aziz
2,2,Kareem Abdul-Jabbar*,1970,1989,C,7-2,225.0,"April 16, 1947",UCLA,Kareem,Abdul-Jabbar*
3,3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",LSU,Mahmoud,Abdul-Rauf
4,4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974","Michigan, San Jose State",Tariq,Abdul-Wahad
...,...,...,...,...,...,...,...,...,...,...,...
5204,15,Ante Žižić,2018,2020,F-C,6-10,266.0,"January 4, 1997",NaN,Ante,Žižić
5205,16,Jim Zoet,1983,1983,C,7-1,240.0,"December 20, 1953",Kent State University,Jim,Zoet
5206,17,Bill Zopf,1971,1971,G,6-1,170.0,"June 7, 1948",Duquesne,Bill,Zopf
5207,18,Ivica Zubac,2017,2024,C,7-0,240.0,"March 18, 1997",NaN,Ivica,Zubac
5208,19,Matt Zunic,1949,1949,G-F,6-3,195.0,"December 19, 1919",George Washington,Matt,Zunic

# Only players who made their debut in 2014 or later 
## 2014 debut is for the 2013-2014 season

In [54]:
all_nba_bios['From'] = all_nba_bios['From'].astype(int)
nba_bios_2014 = all_nba_bios.loc[all_nba_bios['From'] >= 2014]
nba_bios_2014[['First', 'Last']] = nba_bios_2014['Player'].str.split(' ', n= 1, expand= True)
nba_bios_2014=nba_bios_2014.reset_index(drop = True)

C:\Users\Cajun\AppData\Local\Temp\ipykernel_16324\972696639.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nba_bios_2014[['First', 'Last']] = nba_bios_2014['Player'].str.split(' ', n= 1, expand= True)

In [96]:
nba_bios_2014 = pd.read_csv('D:/NSS (Data Analyst)/Capstone/Capstone/data/nba_bios_2014.csv')
nba_bios_2014

,Player,From,To,Pos,ht,Wt,Birth Date,Colleges,First,Last
0,Álex Abrines,2017,2019,G-F,78,200,1-Aug-93,NaN,Álex,Abrines
1,Precious Achiuwa,2021,2024,F,80,225,19-Sep-99,Memphis,Precious,Achiuwa
2,Jaylen Adams,2019,2021,G,72,225,4-May-96,St. Bonaventure,Jaylen,Adams
3,Jordan Adams,2015,2016,G,77,209,8-Jul-94,UCLA,Jordan,Adams
4,Steven Adams,2014,2023,C,83,265,20-Jul-93,Pitt,Steven,Adams
...,...,...,...,...,...,...,...,...,...,...
1064,Cody Zeller,2014,2024,C-F,83,240,5-Oct-92,Indiana,Cody,Zeller
1065,Stephen Zimmerman,2017,2017,C,84,240,9-Sep-96,UNLV,Stephen,Zimmerman
1066,Paul Zipser,2017,2018,G-F,80,215,18-Feb-94,NaN,Paul,Zipser
1067,Ante Žižić,2018,2020,F-C,82,266,4-Jan-97,NaN,Ante,Žižić
1068,Ivica Zubac,2017,2024,C,84,240,18-Mar-97,NaN,Ivica,Zubac

# Function to Find Player's Site URL

In [64]:
def player_site(first, last):
    first_name = first
    last_name = last
    url = f'https://www.basketball-reference.com/search/search.fcgi?hint={first_name}+{last_name}&search={first_name}+{last_name}&pid=&idx='
    response = requests.get(url)
    soup = BS(response.text)
    url = 'https://www.basketball-reference.com' + soup.find('div', class_ = 'search-item-url').text
    return url

In [65]:
#Player site stat headers
nba_headers = (['G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA'
                , '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB'
                , 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'])

# Finding stats for NBA players

## Column headers for NBA stats

In [66]:
nba_headers = (['G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA'
                , '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB'
                , 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'])

# Function to find NBA stats on Individual Player Sites

In [69]:
def find_player_site(first, last):
    letter =last[0].lower()
    player_name = first + ' ' + last
    url = f'https://www.basketball-reference.com/players/{letter}'
    response = requests.get(url)
    soup = BS(response.content, "html.parser")
    player_url = soup.findAll('a', string = player_name)
    player_url = player_url[0]['href']
    player_url = 'https://www.basketball-reference.com' + player_url
    response = requests.get(player_url)
    # Parse HTML content
    soup = BS(response.content, "html.parser")
    # Find the table with the specified ID
    table = soup.find("table", {"id": "per_game"})
    tfoot = table.find("tfoot")
    career_row = [td.get_text() for td in tfoot.find_all("td")]
    return career_row[4:29]

In [70]:
error_indices = []
all_career_stats = []

In [71]:
for index, row in nba_bios_2014.iterrows():
    first_name = row['First']
    last_name = row['Last']
    try:
        career_stats = find_player_site(first_name, last_name)
        if career_stats: 
            all_career_stats.append(career_stats)
            all_career_stats_df = pd.DataFrame(all_career_stats, columns=nba_headers)
            print(all_career_stats_df)
    except Exception as e:
        print(f'Problem at {index}: {str(e)}')
        error_indices.append(index)
        continue 
    time.sleep(10)
    
    #Saved all_career_stats_df to csv named "nba_stats_2014"

     G  GS    MP   FG  FGA   FG%   3P  3PA   3P%   2P  ...   FT%  ORB  DRB  \
0  174  16  16.0  1.8  4.5  .387  1.3  3.4  .368  0.5  ...  .880  0.3  1.1

   TRB  AST  STL  BLK  TOV   PF  PTS
0  1.4  0.5  0.5  0.1  0.4  1.7  5.3

[1 rows x 25 columns]
     G  GS    MP   FG  FGA   FG%   3P  3PA   3P%   2P  ...   FT%  ORB  DRB  \
0  174  16  16.0  1.8  4.5  .387  1.3  3.4  .368  0.5  ...  .880  0.3  1.1
1  262  62  19.9  3.1  6.5  .481  0.4  1.4  .307  2.7  ...  .608  1.9  3.7

   TRB  AST  STL  BLK  TOV   PF  PTS
0  1.4  0.5  0.5  0.1  0.4  1.7  5.3
1  5.7  1.0  0.5  0.6  1.0  1.8  7.8

[2 rows x 25 columns]

KeyboardInterrupt:

In [76]:
nba_stats_2014 = pd.read_csv('D:/NSS (Data Analyst)/Capstone/Capstone/data/nba_stats_2014.csv')

# Finding stats of college players

## Column headers for college stats

def find_college_player_site(first, last):
    letter =last[0].lower()
    player_name = first + ' ' + last
    url = f'https://www.basketball-reference.com/players/{letter}'
    response = requests.get(url)
    soup = BS(response.content, "html.parser")
    player_url = soup.findAll('a', string = player_name)
    player_url = player_url[0]['href']
    player_url = 'https://www.basketball-reference.com' + player_url
    response = requests.get(player_url)
    # Parse HTML content
    soup = BS(response.content, "html.parser")
    # Find the table with the specified ID
    table = soup.find("table", {"id": "per_game"})
    tfoot = table.find("tfoot")
    career_row = [td.get_text() for td in tfoot.find_all("td")]
    return player_url
    #return career_row[4:29]

In [78]:
url = 'https://www.sports-reference.com/cbb/players/precious-achiuwa-1.html?utm_medium=sr_xsite&utm_source=bbr&utm_campaign=2023_02_tbl_player_college_stats&utm_content=lnk_mcbb&utm_id=achiupr01&__hstc=180814520.71ccbd22638234ecdf26cf5aa59d2780.1709741814763.1712811808526.1712818579393.37&__hssc=180814520.7.1712818579393&__hsfp=3291739381'
response = requests.get(url)
headers = BS(response.content, 'html.parser')

table = soup.find('table', {'id': 'players_per_game'})
thead = headers.find('thead')
college_headers = [th.text.strip() for th in thead.findAll('th')]
college_stats = pd.DataFrame(columns = college_headers[4:30]) 
#college_stats = college_stats.drop(columns = {''})
college_stats.columns = 'c_'+college_stats.columns

Empty DataFrame
Columns: [c_G, c_GS, c_MP, c_FG, c_FGA, c_FG%, c_2P, c_2PA, c_2P%, c_3P, c_3PA, c_3P%, c_FT, c_FTA, c_FT%, c_ORB, c_DRB, c_TRB, c_AST, c_STL, c_BLK, c_TOV, c_PF, c_PTS, c_, c_SOS]
Index: []

[0 rows x 26 columns]

# Function to find each college player's site

In [79]:
def find_college_player_site(first, last):
    #gets the player's nba url
    letter =last[0].lower()
    player_name = first + ' ' + last
    url = f'https://www.basketball-reference.com/players/{letter}'
    response = requests.get(url)
    soup = BS(response.content, "html.parser")
    player_url = soup.findAll('a', string = player_name)
    player_url = player_url[0]['href']
    player_url = 'https://www.basketball-reference.com' + player_url
    response = requests.get(player_url)
    
    #gets the player's college url
    url = player_url
    response = requests.get(url)
    soup = BS(response.content, "html.parser")
    player_url = soup.findAll('a', string = 'More College Stats on SR/CBB')
    player_url = player_url[0]['href']
    college_url = player_url
    
    return college_url

# College stats data

In [80]:
placeholder_value = 'N/A'
error_indices = []
for index, row in nba_bios_2014.iterrows():
    first = row.First
    last = row.Last
    try:
        url = find_college_player_site(first, last)
        response = requests.get(url)
        soup = BS(response.content, 'html.parser')
        table = soup.find('table', {'id':'players_per_game'})
        tfoot = table.find('tfoot')
        college_career = [td.text.strip() if td.text.strip() != '' else placeholder_value for td in tfoot.findAll('td')[3:29]]
        print(url)
        length = len(college_stats)
        college_stats.loc[length] = college_career
        print(college_stats)
    except Exception as e:
        print(f'Problem at {index}: {str(e)}')
        error_indices.append(index)
        if len(college_career) < 26:
            length = 26
            blank_row = [''] * 26
            college_stats.loc[len(college_stats)] = blank_row
        else:
            length = len(college_stats)
            blank_row = [''] * len(college_career)
            college_stats.loc[length] = blank_row
        continue 
    time.sleep(20)
    
    #saved college_stats to csv named "college_stats"

Problem at 0: list index out of range
https://www.sports-reference.com/cbb/players/precious-achiuwa-1.html?utm_medium=sr_xsite&utm_source=bbr&utm_campaign=2023_02_tbl_player_college_stats&utm_content=lnk_mcbb&utm_id=achiupr01
  c_G c_GS  c_MP c_FG c_FGA c_FG% c_2P c_2PA c_2P% c_3P  ... c_DRB c_TRB  \
0                                                        ...
1  31   31  30.4  5.9  11.9  .493  5.5  10.6  .514  0.4  ...   7.8  10.8

  c_AST c_STL c_BLK c_TOV c_PF c_PTS   c_ c_SOS
0
1   1.0   1.1   1.9   2.8  2.4  15.8  N/A  5.07

[2 rows x 26 columns]
https://www.sports-reference.com/cbb/players/jaylen-adams-1.html?utm_medium=sr_xsite&utm_source=bbr&utm_campaign=2023_02_tbl_player_college_stats&utm_content=lnk_mcbb&utm_id=adamsja01
   c_G c_GS  c_MP c_FG c_FGA c_FG% c_2P c_2PA c_2P% c_3P  ... c_DRB c_TRB  \
0                                                         ...
1   31   31  30.4  5.9  11.9  .493  5.5  10.6  .514  0.4  ...   7.8  10.8
2  110  108  36.3  4.8  11.3  .427  2.4   5.1  .467  2.5  ...   2.8   3.4

  c_AST c_STL c_BLK c_TOV c_PF c_PTS   c_ c_SOS
0
1   1.0   1.1   1.9   2.8  2.4  15.8  N/A  5.07
2   5.4   1.5   0.2   2.9  2.6  17.4  N/A  1.83

[3 rows x 26 columns]
https://www.sports-reference.com/cbb/players/jordan-adams-1.html?utm_medium=sr_xsite&utm_source=bbr&utm_campaign=2023_02_tbl_player_college_stats&utm_content=lnk_mcbb&utm_id=adamsjo01
   c_G c_GS  c_MP c_FG c_FGA c_FG% c_2P c_2PA c_2P% c_3P  ... c_DRB c_TRB  \
0                                                         ...
1   31   31  30.4  5.9  11.9  .493  5.5  10.6  .514  0.4  ...   7.8  10.8
2  110  108  36.3  4.8  11.3  .427  2.4   5.1  .467  2.5  ...   2.8   3.4
3   69   63  30.2  5.4  11.6  .467  4.0   7.3  .548  1.4  ...   3.3   4.6

  c_AST c_STL c_BLK c_TOV c_PF c_PTS   c_ c_SOS
0
1   1.0   1.1   1.9   2.8  2.4  15.8  N/A  5.07
2   5.4   1.5   0.2   2.9  2.6  17.4  N/A  1.83
3   2.1   2.4   0.2   1.4  2.1  16.4  N/A  7.69

[4 rows x 26 columns]
https://www.sports-reference.com/cbb/players/steven-adams-1.html?utm_medium=sr_xsite&utm_source=bbr&utm_campaign=2023_02_tbl_player_college_stats&utm_content=lnk_mcbb&utm_id=adamsst01
   c_G c_GS  c_MP c_FG c_FGA c_FG% c_2P c_2PA c_2P% c_3P  ... c_DRB c_TRB  \
0                                                         ...
1   31   31  30.4  5.9  11.9  .493  5.5  10.6  .514  0.4  ...   7.8  10.8
2  110  108  36.3  4.8  11.3  .427  2.4   5.1  .467  2.5  ...   2.8   3.4
3   69   63  30.2  5.4  11.6  .467  4.0   7.3  .548  1.4  ...   3.3   4.6
4   32   32  23.4  3.1   5.5  .571  3.1   5.5  .571  0.0  ...   3.5   6.3

  c_AST c_STL c_BLK c_TOV c_PF c_PTS   c_ c_SOS
0
1   1.0   1.1   1.9   2.8  2.4  15.8  N/A  5.07
2   5.4   1.5   0.2   2.9  2.6  17.4  N/A  1.83
3   2.1   2.4   0.2   1.4  2.1  16.4  N/A  7.69
4   0.6   0.7   2.0   1.1  1.6   7.2  N/A  5.66

[5 rows x 26 columns]

KeyboardInterrupt:

In [128]:
college_stats = pd.read_csv('D:/NSS (Data Analyst)/Capstone/Capstone/data/college_stats.csv')
college_stats

,c_G,c_GS,c_MP,c_FG,c_FGA,c_FG%,c_2P,c_2PA,c_2P%,c_3P,...,c_STL,c_BLK,c_TOV,c_PF,c_PTS,c_,C_eFG%,C_PER,C_WS,c_SOS
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,31.0,31.0,30.4,5.9,11.9,0.493,5.5,10.6,0.514,0.4,...,1.1,1.9,2.8,2.4,15.8,NaN,51.1,23.3,4.4,5.07
2,110.0,108.0,36.3,4.8,11.3,0.427,2.4,5.1,0.467,2.5,...,1.5,0.2,2.9,2.6,17.4,NaN,53.5,21.5,17.7,1.83
3,69.0,63.0,30.2,5.4,11.6,0.467,4.0,7.3,0.548,1.4,...,2.4,0.2,1.4,2.1,16.4,NaN,52.9,26.1,11.2,7.69
4,32.0,32.0,23.4,3.1,5.5,0.571,3.1,5.5,0.571,0.0,...,0.7,2.0,1.1,1.6,7.2,NaN,57.1,23.2,3.5,5.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1064,72.0,72.0,29.0,5.5,9.4,0.592,5.5,9.3,0.594,0.0,...,1.2,1.2,2.0,2.5,16.1,NaN,59.2,30.6,14.1,8.09
1065,26.0,24.0,26.2,3.9,8.2,0.477,3.7,7.6,0.492,0.2,...,0.5,2.0,2.1,3.0,10.5,NaN,48.8,17.6,2.1,3.17
1066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# NBA Draft data

## Column headers for NBA Draft

In [135]:
draft_columns = ['Pk', 'Tm', 'Player', 'College', 'Yrs', 'G', 'MP', 'PTS', 'TRB', 'AST', 'FG%', '3P%', 'FT%',
                 'MP', 'PTS', 'TRB', 'AST', 'WS', 'WS/48', 'BPM', 'VORP', 'Draft Year']
draft = pd.DataFrame(columns=draft_columns)

## Years of NBA Draft

In [136]:
years = ['2013','2014','2015','2016','2017','2018','2019','2020', '2021','2022','2023']

## Function to find the draft position of each player

In [137]:
def draft_info(draft_year):
    url = f'https://www.basketball-reference.com/draft/NBA_{draft_year}.html'
    response = requests.get(url)
    soup = BS(response.text, 'html.parser')
    column_data = soup.findAll('tr')

    draft_year_data = []

    for row in column_data:
        row_data = row.findAll('td')
        individual_row_data = [data.text.strip() for data in row_data]
        if len(individual_row_data) > 1:
            individual_row_data.append(draft_year)
            draft_year_data.append(individual_row_data)

    return pd.DataFrame(draft_year_data, columns=draft_columns)


for year in years:
    draft_year_df = draft_info(year)
    draft = pd.concat([draft, draft_year_df], ignore_index=True)
    time.sleep(4)

    #saved draft to csv named "draft"

In [149]:
draft = pd.read_csv('D:/NSS (Data Analyst)/Capstone/Capstone/data/draft.csv', usecols = ['pk','draft_team','player','college_drafted','draft_year','G'])
draft.loc[draft['player']=='Ivica Zubac']

     pk draft_team       player college_drafted      G  draft_year
211  32        LAL  Ivica Zubac             NaN  502.0        2016

# Combining Data

In [150]:
#combining bio and stats of nba players
nba_career_stats = pd.merge(nba_bios_2014, nba_stats_2014, left_index = True, right_index = True)
nba_career_stats.to_csv('nba_career_stats_trial.csv')

In [151]:
college_stats

,c_G,c_GS,c_MP,c_FG,c_FGA,c_FG%,c_2P,c_2PA,c_2P%,c_3P,...,c_STL,c_BLK,c_TOV,c_PF,c_PTS,c_,C_eFG%,C_PER,C_WS,c_SOS
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,31.0,31.0,30.4,5.9,11.9,0.493,5.5,10.6,0.514,0.4,...,1.1,1.9,2.8,2.4,15.8,NaN,51.1,23.3,4.4,5.07
2,110.0,108.0,36.3,4.8,11.3,0.427,2.4,5.1,0.467,2.5,...,1.5,0.2,2.9,2.6,17.4,NaN,53.5,21.5,17.7,1.83
3,69.0,63.0,30.2,5.4,11.6,0.467,4.0,7.3,0.548,1.4,...,2.4,0.2,1.4,2.1,16.4,NaN,52.9,26.1,11.2,7.69
4,32.0,32.0,23.4,3.1,5.5,0.571,3.1,5.5,0.571,0.0,...,0.7,2.0,1.1,1.6,7.2,NaN,57.1,23.2,3.5,5.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1064,72.0,72.0,29.0,5.5,9.4,0.592,5.5,9.3,0.594,0.0,...,1.2,1.2,2.0,2.5,16.1,NaN,59.2,30.6,14.1,8.09
1065,26.0,24.0,26.2,3.9,8.2,0.477,3.7,7.6,0.492,0.2,...,0.5,2.0,2.1,3.0,10.5,NaN,48.8,17.6,2.1,3.17
1066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [152]:
#combining bio and stats with college data
nba_college = pd.merge(nba_career_stats, college_stats, left_index = True, right_index = True)

In [153]:
nba_college

,Player,From,To,Pos,ht,Wt,Birth Date,Colleges,First,Last,...,c_STL,c_BLK,c_TOV,c_PF,c_PTS,c_,C_eFG%,C_PER,C_WS,c_SOS
0,Álex Abrines,2017,2019,G-F,78,200,1-Aug-93,NaN,Álex,Abrines,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Precious Achiuwa,2021,2024,F,80,225,19-Sep-99,Memphis,Precious,Achiuwa,...,1.1,1.9,2.8,2.4,15.8,NaN,51.1,23.3,4.4,5.07
2,Jaylen Adams,2019,2021,G,72,225,4-May-96,St. Bonaventure,Jaylen,Adams,...,1.5,0.2,2.9,2.6,17.4,NaN,53.5,21.5,17.7,1.83
3,Jordan Adams,2015,2016,G,77,209,8-Jul-94,UCLA,Jordan,Adams,...,2.4,0.2,1.4,2.1,16.4,NaN,52.9,26.1,11.2,7.69
4,Steven Adams,2014,2023,C,83,265,20-Jul-93,Pitt,Steven,Adams,...,0.7,2.0,1.1,1.6,7.2,NaN,57.1,23.2,3.5,5.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1064,Cody Zeller,2014,2024,C-F,83,240,5-Oct-92,Indiana,Cody,Zeller,...,1.2,1.2,2.0,2.5,16.1,NaN,59.2,30.6,14.1,8.09
1065,Stephen Zimmerman,2017,2017,C,84,240,9-Sep-96,UNLV,Stephen,Zimmerman,...,0.5,2.0,2.1,3.0,10.5,NaN,48.8,17.6,2.1,3.17
1066,Paul Zipser,2017,2018,G-F,80,215,18-Feb-94,NaN,Paul,Zipser,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1067,Ante Žižić,2018,2020,F-C,82,266,4-Jan-97,NaN,Ante,Žižić,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1068,Ivica Zubac,2017,2024,C,84,240,18-Mar-97,NaN,Ivica,Zubac,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#combining nba_college dataframe with draft data 
nba_college_draft =  pd.merge(nba_college, draft, left_on = 'Player', right_on = 'player', how='left')
#saved to csv named "nba_college_draft" and took out duplicate in csv

NameError: name 'nba_college' is not defined

In [7]:
nba_college_draft = pd.read_csv('D:/NSS (Data Analyst)/Capstone/Capstone/data/nba_college_draft.csv')

# Cleaning Data

In [50]:
#dropping columns
nba_college_draft.drop(columns = {'Unnamed: 0'}, inplace = True)

KeyError: "['Unnamed: 0'] not found in axis"

In [52]:
nba_college_draft.drop(columns = {'Unnamed: 0'}, inplace = True)

KeyError: "['Unnamed: 0'] not found in axis"

In [51]:
nba_college_draft.drop(columns = {'Unnamed: 0.1'}, inplace = True)

KeyError: "['Unnamed: 0.1'] not found in axis"

In [53]:
nba_college_draft.drop(columns = {'c_'}, inplace = True)

KeyError: "['c_'] not found in axis"

In [ ]:
#stripping and lowercasing all columns
nba_college_draft.columns = nba_college_draft.columns.str.lower().str.strip()

In [264]:
#inserting "Did Not Attend" for players who did not attend college
nba_college_draft['last_college_attended']=nba_college_draft['last_college_attended'].str.replace('0','Did Not Attend')

In [265]:
#renaming a couple of columns
nba_college_draft = nba_college_draft.rename(columns = {'g_x':'g','from':'debut', 'to':'final'})

In [271]:
#replacing columns with NaN
stat_columns = ['c_efg%','c_per', 'c_ws', 'pk']
nba_college_draft[stat_columns] = nba_college_draft[stat_columns].replace('', np.nan)
nba_college_draft[stat_columns] = nba_college_draft[stat_columns].apply(pd.to_numeric, errors='coerce')

In [272]:
#changing a few datatypes
#changing data types
nba_college_draft=(nba_college_draft.astype({'c_efg%':float, 'c_per':float, 'c_ws':float, 'pk':float}))

In [282]:
nba_college_draft.to_csv('nba_college_draft.csv')

In [273]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(nba_college_draft.dtypes)

player                    object
debut                      int64
final                      int64
pos                       object
ht                         int64
wt                         int64
birth date                object
colleges                  object
first                     object
last                      object
g                          int64
gs                       float64
mp                       float64
fg                       float64
fga                      float64
fg%                      float64
3p                       float64
3pa                      float64
3p%                      float64
2p                       float64
2pa                      float64
2p%                      float64
efg%                     float64
ft                       float64
fta                      float64
ft%                      float64
orb                      float64
drb                      float64
trb                      float64
ast                      float64
stl                      float64
blk                      float64
tov                      float64
pf                       float64
pts                      float64
per                      float64
ws                       float64
c_g                      float64
c_gs                     float64
c_mp                     float64
c_fg                     float64
c_fga                    float64
c_fg%                    float64
c_2p                     float64
c_2pa                    float64
c_2p%                    float64
c_3p                     float64
c_3pa                    float64
c_3p%                    float64
c_ft                     float64
c_fta                    float64
c_ft%                    float64
c_orb                    float64
c_drb                    float64
c_trb                    float64
c_ast                    float64
c_stl                    float64
c_blk                    float64
c_tov                    float64
c_pf                     float64
c_pts                    float64
c_efg%                   float64
c_per                    float64
c_ws                     float64
c_sos                    float64
pk                       float64
draft_team                object
player                    object
college_drafted           object
draft_year               float64
last_college_attended     object
unnamed: 74               object
dtype: object

# Correlation Analysis

In [ ]:
#Finding Correlations based on Positions

In [16]:
nba_college_draft['pos'].unique()

array(['G-F', 'F', 'G', 'C', 'C-F', 'F-C', 'F-G'], dtype=object)

In [21]:
nba_college_draft.loc[nba_college_draft['pos'] == 'G-F'].corr(numeric_only = True).to_csv('correlation_analysis_gf.csv')

In [24]:
nba_college_draft.loc[nba_college_draft['pos'] == 'F'].corr(numeric_only = True).to_csv('correlation_analysis_f.csv')

In [26]:
nba_college_draft.loc[nba_college_draft['pos'] == 'G'].corr(numeric_only = True).to_csv('correlation_analysis_g.csv')

In [28]:
nba_college_draft.loc[nba_college_draft['pos'] == 'C'].corr(numeric_only = True).to_csv('correlation_analysis_c.csv')

In [30]:
nba_college_draft.loc[nba_college_draft['pos'] == 'C-F'].corr(numeric_only = True).to_csv('correlation_analysis_cf.csv')

In [32]:
nba_college_draft.loc[nba_college_draft['pos'] == 'F-C'].corr(numeric_only = True).to_csv('correlation_analysis_fc.csv')

In [34]:
nba_college_draft.loc[nba_college_draft['pos'] == 'F-G'].corr(numeric_only = True).to_csv('correlation_analysis_fg.csv')

In [36]:
nba_college_draft['pos'].value_counts()

pos
G      474
F      334
G-F     88
C       78
F-C     55
C-F     27
F-G     13
Name: count, dtype: int64

In [59]:
nba_college_draft['ws_per_year'] = nba_college_draft['ws']/(nba_college_draft['final'] - nba_college_draft['debut'])

In [274]:
nba_college_draft.corr(numeric_only = True).to_csv('correlation_analysis.csv')